
<form ng-submit="addQuotation()">
    <label for="emailAddress">Email Address:</label>
    <input type="text" id="emailAddress" ng-model="quotationForm.emailAddress" required/>
    <button type="submit">Get Quotation</button>
</form>